# Local .terraform directories
**/.terraform/*
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.env
description
temp
scripts
terraform/environments/test/.terraform
terraform/environments/test/solution.plan
automatedtesting/selenium/debug.log
jmeter.log